In [3]:
'''The defaultdict tool is a container in the collections class of Python. It's similar to the usual dictionary (dict) container, 
but the only difference is that a defaultdict will have a default value if that key has not been set yet.
If you didn't use a defaultdict you'd have to check to see if that key exists, and if it doesn't, 
set it to what you want.'''
from collections import defaultdict
d = defaultdict(list)
print(d)
d['python'].append("awesome")
d['something-else'].append("not relevant")
d['python'].append("language")
for i in d.items():
    print(i)

defaultdict(<class 'list'>, {})
('python', ['awesome', 'language'])
('something-else', ['not relevant'])

In [4]:
a=defaultdict()

In [5]:
print(a)

defaultdict(None, {})

In [6]:
a['i'] = 2

In [7]:
print(a)

defaultdict(None, {'i': 2})

In [8]:
for i in a.items():
    print(i)

('i', 2)

In [9]:
a['j'] = 'k'
for i in a.items():
    print(i)

('i', 2)
('j', 'k')

In [10]:
from collections import defaultdict
n,m = map(int,input().split())
d = defaultdict(list)
for i in range(n):
    d['A'].append(input())
for j in range(m):
    d['B'].append(input())

2 3
ananth
aswani
ramesh
surr
mekeef

In [11]:
d

defaultdict(list,
            {'A': ['ananth', 'aswani'], 'B': ['ramesh', 'surr', 'mekeef']})

In [12]:
lis=[1,2,3,4]
for i,j in enumerate(lis):
    print(i,j)

0 1
1 2
2 3
3 4

In [13]:
from collections import defaultdict

n, m = map(int, input().split())
d = defaultdict(list)

# Store indices directly in the defaultdict
for i in range(n):
    element = input()
    d[element].append(i + 1)

# Process group B and output indices or -1
for _ in range(m):
    query = input()
    if d[query]:
        print(*d[query])
    else:
        print(-1)

2 3
a
b
a
1
b
2
c
-1

In [14]:
print(d)

defaultdict(<class 'list'>, {'a': [1], 'b': [2], 'c': []})

In [23]:
import calendar
a=calendar.TextCalendar(['firstweekday'])

In [24]:
print(a)

<calendar.TextCalendar object at 0x00000253B9144BD0>

In [29]:
import calendar
print(calendar.TextCalendar(firstweekday=6).formatyear(2015))

                                  2015

      January                   February                   March
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

In [ ]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
import calendar
m,d,y = map(int,input().split())
a = calendar.weekday(y,m,d)
b=['MONDAY','TUESDAY','WEDNESDAY','THURSDAY', "FRIDAY", "SATURDAY",'SUNDAY']
c=[0,1,2,3,4,5,6]
for i in range(len(c)):
    if c[i] ==a:
        print(b[i])

In [ ]:
#better way by avoiding loop
import calendar
m,d,y = map(int,input().split())
a = calendar.weekday(y,m,d)
b=['MONDAY','TUESDAY','WEDNESDAY','THURSDAY', "FRIDAY", "SATURDAY",'SUNDAY']
print(b[a])

In [30]:
'''Errors detected during execution are called exceptions.'''
''' The statements try and except can be used to handle selected exceptions.
A try statement may have more than one except clause to specify handlers for different exceptions.'''

'Errors detected during execution are called exceptions.'

In [32]:
#Code
try:
    print (1/0)
except ZeroDivisionError as e:
    print ("Error Code:",e)

Error Code: division by zero

In [34]:
t = int(input()) #number of test cases
for i in range(t):
    a, b = map(int, input().split())
    try:
        print(a / b)
    except ZeroDivisionError as e:
        print("Error Code:", e)

2
1 0
Error Code: division by zero
1 2
0.5

In [ ]:
t = int(input()) #number of test cases
for i in range(t):
    a, b = input().split()
    try:
        ans  = int(a)/int(b)
        print(int(ans))
    except ZeroDivisionError as e:
        print("Error Code:", 'integer division or modulo by zero')
    except ValueError as e:
        print('Error Code:',e)

In [35]:
a=(1,2,3)b=[0]
print(a[0])

1

In [36]:
b=a[0]

In [37]:
print(b)

1

In [38]:
a=a[0]

In [40]:
print(a)

1

In [53]:
from collections import namedtuple
Point = namedtuple('Point','x,y')
pt1 = Point(1,2)
pt2 = Point(3,4)
dot_product = ( pt1.x * pt2.x ) +( pt1.y * pt2.y )
print(dot_product)

11

In [ ]:
'''Basically, namedtuples are easy to create, lightweight object types.
They turn tuples into convenient containers for simple tasks.
With namedtuples, you donâ€™t have to use integer indices for accessing members of a tuple.'''

In [43]:
from collections import namedtuple

In [54]:
nametup = namedtuple('nametup','a,b,c')
name1 = nametup(1,2,3)

In [58]:
print(name1.a)

1

In [63]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
from collections import namedtuple
n = int(input())
col = input().split()
ans = namedtuple('ans','col[0],col[1],col[2],col[3]')

4
id marks name size

ValueError: Type names and field names must be valid identifiers: 'col[0]'

In [64]:
a= 'ananth ramesh suresh'
ans = namedtuple('ans',a)

In [65]:
pt1 = ans(1,2,3)

In [66]:
print(pt1)

ans(ananth=1, ramesh=2, suresh=3)

In [74]:
a=['1','2','3']
pt2 = ans(*a)

In [75]:
pt2

ans(ananth='1', ramesh='2', suresh='3')

In [77]:
pt2.ananth

'1'

In [ ]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
from collections import namedtuple
n = int(input())
title = input()
ans = namedtuple('ans',title)
sum1 = 0
for i in range(n):
    inp  = input().split()
    pt = ans(*inp)
    sum1 = sum1 + int(pt.MARKS)

average = sum1 / n
print(f'{average:.2f}')