In [1]:
700*36

25200

In [4]:
88200 - 19080

69120

In [12]:
# Sat 02 May 2015 19:54:36 +0530
# Fri 01 May 2015 13:54:36 -0000
a = 19*3600 + 54*60 +36
a

71676

In [14]:
a - 5*3600 + 30*60

55476

In [19]:
19 +54/60 + 36/3600

19.91

In [20]:
5 + 30/60

5.5

In [21]:
19.91 - 5.5

14.41

In [25]:
41*60

2460

In [26]:
2460/100

24.6

In [27]:
6*60

360

In [30]:
 19:54:36

3.6

In [31]:
19*3600 + 54*60 +36

71676

In [32]:
a = 71676//3600

In [36]:
a

19

In [37]:
19*3600

68400

In [38]:
71676-68400

3276

In [43]:
71676%3600

3276

In [39]:
3276//60

54

216000

In [40]:
54*60

3240

In [44]:
3276%60

36

In [41]:
3276-3240

36

In [42]:
string = ''

In [52]:
total_seconds = 71676 - 5*3600 - 30*60

# Calculate hours, minutes, and seconds
hours = total_seconds // 3600
minutes = (total_seconds % 3600) // 60
seconds = total_seconds % 60

# Format the string to include leading zeros for minutes and seconds
time_string = f"{hours}:{minutes:02d}:{seconds:02d}"

In [53]:
time_string

'14:24:36'

In [ ]:
# Complete the time_delta function below.
def time_delta(t1, t2):
    lis1 = t1.split()
    lis2 = t2.split()
    tz1 = int(lis1[-1][1:3])*3600 + int(lis1[-1][3:])*60
    ct1 = int(lis1[-2][:2])*3600 + int(lis1[-2][3:5])*60 + int(lis1[-2][6:])
    if lis1[-1][0] == '+':
        diff1 = ct1 - tz1
        hours1 = diff1 // 3600
        minutes1 = (diff1 % 3600) // 60
        seconds1 = diff1 % 60
    else:
        diff1  = ct1 + tz1
        hours1 = diff1 // 3600
        minutes1 = (diff1 % 3600) // 60
        seconds1 = diff1 % 60
        
    tz2 = int(lis2[-1][1:3])*3600 + int(lis2[-1][3:])*60
    ct2 = int(lis2[-2][:2])*3600 + int(lis2[-2][3:5])*60 + int(lis2[-2][6:])
    if lis2[-1][0] == '+':
        diff2 = ct2 - tz2
        hours2 = diff2 // 3600
        minutes2 = (diff2 % 3600) // 60
        seconds2 = diff2 % 60
    else:
        diff2  = ct2 + tz2
        hours2 = diff2 // 3600
        minutes2 = (diff2 % 3600) // 60
        seconds2 = diff2 % 60

In [ ]:
def time_delta(t1, t2):
    # Helper function to determine if a year is a leap year
    def is_leap_year(year):
        return year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)

    # Helper function to calculate day of the year
    def day_of_year(day, month, year):
        month_lengths = [31, 28 + is_leap_year(year), 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
        return sum(month_lengths[:month - 1]) + day

    # Parse date and time information from time strings
    parts1, parts2 = t1.split(), t2.split()
    day1, month1, year1 = int(parts1[1]), time.strptime(parts1[2], '%b').tm_mon, int(parts1[3])
    day2, month2, year2 = int(parts2[1]), time.strptime(parts2[2], '%b').tm_mon, int(parts2[3])
    
    # Calculate day of year for both dates
    doy1, doy2 = day_of_year(day1, month1, year1), day_of_year(day2, month2, year2)

    # Rest of your existing time calculation remains the same...
    # ...

    # Calculate total day difference, including year difference
    day_diff = (year1 - year2) * 365 + (doy1 - doy2)

    # Calculate leap day difference
    leap_day_diff = sum(1 for y in range(min(year1, year2), max(year1, year2)) if is_leap_year(y))

    # Add or subtract leap day difference based on year order
    if year1 < year2:
        day_diff -= leap_day_diff
    else:
        day_diff += leap_day_diff

    # Calculate the absolute difference in seconds including day difference
    seconds_diff = abs(day_diff * 24 * 3600 + total_seconds1 - total_seconds2)
    return seconds_diff

# Example usage
t1 = "Sun 10 May 2015 13:54:36 -0700"
t2 = "Sun 10 May 2016 13:54:36 -0000"
print(time_delta(t1, t2))  # Example output

In [ ]:
def time_delta(t1, t2):
    # Function to convert time string to seconds
    def time_to_seconds(time_str):
        hours, minutes, seconds = map(int, time_str.split(':'))
        return hours * 3600 + minutes * 60 + seconds

    # Function to convert timezone string to seconds
    def timezone_to_seconds(tz_str):
        sign = -1 if tz_str[0] == '-' else 1
        hours, minutes = map(int, [tz_str[1:3], tz_str[3:]])
        return sign * (hours * 3600 + minutes * 60)

    # Split the strings and extract components
    lis1, lis2 = t1.split(), t2.split()
    tz1, tz2 = timezone_to_seconds(lis1[-1]), timezone_to_seconds(lis2[-1])
    ct1, ct2 = time_to_seconds(lis1[-2]), time_to_seconds(lis2[-2])

    # Calculate total seconds for each time
    total_seconds1 = ct1 - tz1
    total_seconds2 = ct2 - tz2

    # Assuming the date is in the format "Day Month Year"
    # This will calculate the difference in days
    day_diff = int(lis1[1]) - int(lis2[1])
    
    # Calculate the absolute difference in seconds including day difference
    seconds_diff = abs(day_diff * 24 * 3600 + total_seconds1 - total_seconds2)
    return seconds_diff

# Example usage
t1 = "Sun 10 May 2015 13:54:36 -0700"
t2 = "Sun 10 May 2015 13:54:36 -0000"
print(time_delta(t1, t2))  # Example output

In [55]:
#!/bin/python3

import math
import os
import random
import re
import sys

from datetime import datetime, timedelta, timezone
import re




if __name__ == '__main__':

        t1 = input()

        t2 = input()

        delta = time_delta(t1, t2)
        print(delta)

Sun 10 May 2015 13:54:36 -0700
Sun 10 May 2015 13:54:36 -0000
2015-05-10 13:54:36-07:00

TypeError: 'str' object is not callable

In [60]:
def time_delta(t1, t2):
    # Define the format of the time string
    format_str = "%a %d %b %Y %H:%M:%S %z"

    # Parse the time strings into datetime objects
    dt1 = datetime.strptime(t1, format_str)
    dt2 = datetime.strptime(t2, format_str)
    print((dt1-dt2).total_seconds())
    print(dt1)
    print(dt2)
    print(type(dt1))

    # Calculate the difference in seconds
    delta = int(abs((dt1 - dt2).total_seconds()))
    print(delta)

In [61]:
time_delta(t1,t2)

25200.0
2015-05-10 13:54:36-07:00
2015-05-10 13:54:36+00:00
<class 'datetime.datetime'>
25200

In [63]:
lis = [1,2,3,4]
lis.pop(3)
lis

[1, 2, 3]

In [ ]:
from collections import OrderedDict

n = int(input())
d = OrderedDict()

for i in range(n):
    lis = input().split()
    price = int(lis[-1])  # Convert price to integer here
    lis.pop(-1)
    name=''
    for i in lis:
        name = name + i +' '
    if name in d:
        d[name] += price
    else:
        d[name] = price

for name, total_price in d.items():
    print(f"{name}{total_price}")

In [66]:
# Example dictionary
example_dict = {"apple": 10, "banana": 5}

# Using get to retrieve and update values
apple_count = example_dict.get("apple", 0)  # Returns 10 (value of "apple" in the dictionary)
orange_count = example_dict.get("orange", 0)  # Returns 0 (since "orange" is not in the dictionary)
print(apple_count)
print(orange_count) #here there is no error eve  though the key orange is not there in the dict; otherwise it will give keyerror.

# Update the dictionary
example_dict["apple"] = apple_count + 2  # Updates "apple" to 12
example_dict["orange"] = orange_count + 3  # Adds "orange" with a value of 3

print(example_dict)

10
0
{'apple': 12, 'banana': 5, 'orange': 3}

In [ ]:
'''An OrderedDict is a dictionary that remembers the order of the keys that were inserted first. If a new entry overwrites
an existing entry,the original insertion position is left unchanged. '''